@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1440px;
    background-color: var(--main-BG);
    font-family: 'Outfit';
}
body .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    border-radius: 12px;
    background-color: var(--card-BG);
}
body .card #nft-preview{
    border: solid 1px black;
    height: 300px;
    width: 300px;
    border-radius: 12px;
    margin: 25px;
}
body .card #nft-preview #img-container{
    background: url(./images/image-equilibrium.jpg) center center no-repeat;
    background-size: cover;
}
body .card .content{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
}
body .card .content #title-area{
    color: var(--White);
    font-weight: 600;
}
body .card .content #description{
    color: var(--soft-blue);
    font-weight: 300;
}
body .card .content #details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cyan);
    font-size: 14px;
    font-weight: 400;
    border-bottom: solid 1px var(--line);
    padding-bottom: 20px;
}
body .card .content #details div{
    display: flex;
    align-items: center;
    margin: 0px;
}
body .card .content #creator{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: var(--soft-blue);
    margin-bottom: 10px;
}
body .card .content #creator #avatar{
    border: 1px solid var(--White);
    border-radius: 50%;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background: url(./images/image-avatar.png) center center no-repeat;
    background-size: cover;
}
body .card .content #creator span{
    color: var(--White);
    font-weight: 400;
}

.attribution{
    margin-top: 20px;
    color: var(--White);
    font-size: 14px;
    font-weight: 300;
}
.attribution a{
    color: var(--White);
    font-weight: 600;
}