@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1440px;
}
body .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    border-radius: 12px;
    border: solid 1px blue;
}
body .card #img-container{
    margin: 25px;
}
body .card #img-container img{
    border-radius: 12px;
}
body .card .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 200px;
    border: solid 1px green;
    font-family: 'Outfit';
}
body .card .content div{
    margin-bottom: 20px;
}
body .card .content #title-area{
    font-weight: 600;
}
body .card .content #description{
    font-weight: 300;
}
body .card .content #details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px red;
    font-weight: 400;
}
body .card .content #details div, time{
    display: flex;
    margin: 0px;
}
body .card .content #creator{
    display: flex;
    align-items: center;
}
body .card .content #creator p{
    font-weight: 300;
}
body .card .content #creator span{
    font-weight: 400;
}
body .card .content #creator #avatar{
    margin: 10px;
    width: 32px;
    height: 32px;
    background: url(./images/image-avatar.png) center center no-repeat;
    background-size: cover;
}